pkgbase = eblande
	pkgdesc = experimental fan-made desktop environment
	pkgver = 0.1
	pkgrel = 1
	url = https://t.me/Futanari_OS
	arch = x86_64
	license = GPL
	depends = openbox
	depends = pcmanfm
	depends = tint2
	depends = dunst
	depends = flameshot
	depends = xdialog
	depends = bash
	depends = lxappearance-obconf-gtk3
	depends = obconf-qt
	depends = arandr
	depends = pavucontrol-qt
	depends = lxinput
	depends = picom
	source = eblan-autostart
	source = eblande-session
	source = eblande.desktop
	source = eblan-config
	source = eblan-config.desktop
	sha256sums = dd4ec07729c326bf5bdfe7ee87b4a805b6000829332e4e74f0a7290d2c9db304
	sha256sums = d7dc3312f1ed426c7f44ca251f21281aedf567a5b1b10a0f4b20b85299070d3a
	sha256sums = 727c75f7b8ab80b9b2406f839dfb4ff2a896a9307b794715484a30cc962b4828
	sha256sums = 2c328589f4dbbb0c85b2f74a3032410a49ee03e849ffa67633b1ef2c4294c584
	sha256sums = d728726119d6e1f91a4e12e8e7787fc1dc095d2614adf627396f76db4541b705

pkgname = eblande
